<html lang="en">
<head>
    <title>{% block title %}Recipe Book{% endblock %}</title>
    <header>
        <h1>Recipe Book</h1>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <button><a href="{% url 'login' %}">Login</a></button>
        {% endif %}
    </header>
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>